.flip {
    margin-bottom: 2rem;
}

.flipHeader {
    margin-bottom: 1rem;
}

.accordionHeader {
    width: 100%;
}

.accordionHeaderCell {
    // display: table-cell;
    // justify-content: space-between;
}

.flipRow {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.flipRowFlex {
    display: flex;
    justify-content: space-between;
}

.flipRowKey {
    margin-bottom: 1rem;
    font-weight: bold;
}

.flipRowValue {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 2rem;
}

.flipStatus {
    cursor: pointer;
}

.flipTabContainer {
    min-height: 19rem;
    margin-bottom: 2rem;
}
